body {
    margin: 0px;
    background-image:url(img/posto-foto.jpg);
    background-repeat:no-repeat;
    background-size:100vw 100vh;
}

ul {

    background-color: #0000;
}

li {
    text-align: center;
    /* background-color: black; */
    padding: 10px;
    list-style: none;
}

#bot {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background: transparent;
}

h1 {
    text-align: center;

}

h1:hover {
    opacity: 0.6;
}

input {
    background: transparent;
    border-radius: 10px;
    font: normal 17pt arial;
}

p {
    text-align: center;
    font: normal 15pt san-serif;
}

#confirmar {
    margin: auto 115px;
    border-radius: 10px;
}

#caixa-div {
    position: absolute;
    border-radius: 30px;
    right: 20px;
    bottom: 200px;
    margin: 20px;
    padding: 40px;
    background-color: hsl(0, 100%, 100%, 0.9);
    width: 360px;
    height: 310px;
    transform: translateX(40px);
}

#res {
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 110px;
    top: 300px;
}

#caixa-div {
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        transform: translateX(-60px);
        opacity: 0.9;
    }
}

#h1posto {
    text-align: center;
    color: white;
    transform: translateY(-30px);
}

#h1posto {
    animation-name: slid;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slid {
    from {
        opacity: 0;
    }

    to {
        transform: translateY(10px);
        opacity: 0.9;
    }
}