body {
    margin: 0px;
    box-sizing: border-box;
    background-image: url(img/posto-foto.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#footer{
    position: absolute;
    bottom:10px;
    color:#fff;
    margin-left:50%;
}

ul {

    background-color: #0000;
}

li {
    text-align: center;
    padding: 10px;
    list-style: none;
}

h1 {
    text-align: center;

}

h1:hover {
    opacity: 0.6;
}

input {
    background: transparent;
    border-radius: 10px;
    font: normal 17pt arial;
}

p {
    text-align: center;
    font: normal 15pt san-serif;
}

#confirmar {
    margin: auto 115px;
    border-radius: 10px;
}

/* Login box */

#caixa-div {
    position: absolute;
    border-radius: 30px;
    right: 20px;
    bottom: 130px;
    margin: 20px;
    padding: 40px;
    background-color: hsl(0, 100%, 100%, 0.9);
    width: 360px;
    height: 310px;
    transform: translateX(40px);
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        transform: translateX(-60px);
        opacity: 0.9;
    }
}
#res {
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    left:90px;
    
}

/*-------------------------------------*/

/* Media screen to Mobile */

@media screen and (max-width:800px) {
    #caixa-div {
        position: absolute;
        border-radius: 30px;
        left: 2vw;
        top: 20vh;
        margin: 20px;
        padding: 20px;
        background-color: hsl(0, 100%, 100%, 0.5);
        width: 230px;
        height: 350px;
    }

    #caixa-div {
        animation-name: none;
    }

    h1 {
        font-size: 16pt;
    }

    input {
        background: transparent;
        border-radius: 10px;
        font: normal 13pt arial;
    }
    #res {
        padding: 10px;
        text-align: center;
        width: 200px;
        height: 50px;
        position: absolute;
        bottom: 20px;
        left:35px;
        
    }
    #confirmar {
        margin: auto 115px;
        border-radius: 10px;
        position: absolute;
        left: -10px;
    }

}
/* ----------------------------------------- */

#h1posto {
    text-align: center;
    color: white;
    transform: translateY(-30px);
}
/* ============================================ */
/* Gas station 7 title */
#h1posto {
    animation-name: slid;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slid {
    from {
        opacity: 0;
    }

    to {
        transform: translateY(10px);
        opacity: 0.9;
    }
}
/* --------------------------------------- */